
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

$text-color: hsl(193, 38%, 86%);
$accent-color: hsl(150, 100%, 66%);
$visited-link-color: white;
$card-color: hsl(217, 19%, 24%);
$background-color: hsl(218, 23%, 16%);

$text-font: 'Manrope', sans-serif;
$footer-font: 'Montserrat', sans-serif;